@model IntegratedSystems.Domain.Domain_Models.VaccinationCenter

@{
    ViewData["Title"] = "VaccinationCenterFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vaccination Center currently cant provide any vaccines.</h1>